<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" rel="stylesheet">
    <title>login</title>
</head>


<body>
    <%- include("partials/header"); -%>
    
    


    <div class="login-page">
        <div class="form">
            <!-- <form class="register-form" action="/login" method="POST">
                <input type="text" placeholder="name" />
                <input type="password" placeholder="password" />
                <input type="text" placeholder="email address" />
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form> -->
            <form class="login-form" action="/login" method="POST">
                <input type="name"  id="firstname" placeholder="Name" required name="firstname"/>
                <input type="email"  placeholder="Email" required name="email"/>
                <input type="password" placeholder="Password" required name="password" />
                <button type="submit"> Sign in </button>
                <p class="message">Not registered? <a href="/register">Create an account</a></p>
            </form>
        </div>
    </div>
<%- include("partials/footer"); -%>
</body>

</html>