<h2>Edit your profile</h2>
<form action="/users" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"/>
          
      </div>
      <div class="form-group">
        <label for="role">ur role</label>
        <input type="role" id="role" name="role" class="form-control" placeholder="Enter role"
           />
      </div>
    <!-- <div class="form-group">
        <label for="github">About you</label>
        <input type="text" class="form-control" id="github" name="github"  ">
    </div>
    <div class="form-group">
        <label for="instagram">Instagram id:</label>
        <input type="text" class="form-control" name="instagram" id="instagram" >
    </div>
    <div class="form-group">
        <label for="facebook">Facebook:</label>
        <input type="text" class="form-control" name="facebook" id="facebook" >
    </div> -->
    <button class="btn btn-primary">Update</button>
</form>

<p><a href="/users/<%= name %>" target="_blank">View your profile</a></p>